<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laravel + Tungsten.js + Backbone • TodoMVC</title>
    <link rel="stylesheet" charset="UTF-8" href="index.css">
</head>
<body>
<div id="appwrapper">
  {{> todo_app_view }}
</div>
<script src="//localhost:9090/app.min.js"></script>
</body>
</html>